[submodule "public/modifiablepath"]
	path = public/modifiablepath
	url = git://github.com/arenevier/ModifiablePath.git
[submodule "library/gisconverter"]
	path = library/gisconverter
	url = git://github.com/arenevier/gisconverter.php
[submodule "public/prototype"]
	path = public/prototype
	url = git://github.com/sstephenson/prototype.git
[submodule "public/simplebox"]
	path = public/simplebox
	url = git://github.com/arenevier/simplebox.git
[submodule "public/store.js"]
	path = public/store.js
	url = git://github.com/cloudhead/store.js.git
