.item {
    float: left;
    width: 250px;
    margin: 0px 10px 10px 10px;
}

.geom {
    float: left;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 4px 6px 0;
    position: relative;
}
.control-link {
    margin-bottom: 1em;
}

.map {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; bottom: 0; right: 0; left: 0;
}

.title {
    *margin-top: -1em; /* in ie <=7, .control-link margin-bottom "pushes" .title */
    height: 32px;
    clear: left;
}

.page-link {
    margin-left: 10px;
    margin-right: 10px;
}
#navigation {
    text-align: center;
}

#footer {
    position: fixed;
    z-index: 2000;
    background-color: white;
}

.noroute {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    padding: 12px;
    margin-top: 28px;
}

#message {
    width: 40%;
    margin: 20px auto 20px auto;
    padding: 1.5em 1.5em 1.5em 1.5em;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#other-language {
    margin: 10px 10px 20px 20px;
    /* .item: 108px +.title: 32px + margin-bottom: 10px => 150px */
    /* margin: 30px + padding: 10px => height = 150 - 40 */
    height: 110px;
}
