.item {
    float: left;
    width: 240px;
    margin: 0px 10px 10px 10px;
}

.geom {
    float: left;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 10px 6px 0;
    position: relative;
}

.map {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; bottom: 0; right: 0; left: 0;
}

.title {
    height: 2em;
    clear: left;
}

.page-link {
    margin-left: 10px;
    margin-right: 10px;
}
#navigation {
    text-align: center;
}

#footer {
    position: fixed;
    z-index: 2000;
    background-color: white;
}

.noroute {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    padding: 12px;
    margin-top: 28px;
}

#message {
    width: 40%;
    margin: 20px auto 20px auto;
    padding: 1.5em 1.5em 1.5em 1.5em;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

